<!-- base.html -->
<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
 
    <meta charset='utf-8'>
    <title>
        {% block title %}
 
        {% endblock %}
    </title>
</head>
<body>
    <div class="container-fluid">
        <div class="well post_title">
            <h3>文齋</h3>
        </div>
        <div clss="panel panel-default">
            {% block headmessage %} {% endblock %}
        </div>
        <div class="panel panel-body">
            <div class="row">
                <div class="col-3">
                    {% include 'menu.html' %}
                </div>
                <div class="col-9">
                    {%block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>