<!-- base.html -->
<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
 
    <meta charset='utf-8'>
    <title>
        {% block title %}
 
        {% endblock %}
    </title>
    {%load static%}
</head>
<body>
    <div class="container-fluid">
        <div class="well post_title">
            <img width="500" height="200" src="{% static 'img/logo.png' %}">
            <h3>文齋</h3>
        </div>
        <div clss="panel panel-default">
            {% block headmessage %} {% endblock %}
        </div>
        <div class="panel panel-body">
            <div class="row">
                <div class="col-3">
                    {% include 'menu.html' %}
                </div>
                <div class="col-9">
                    {%block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script id="_waurg4">var _wau = _wau || [];
    _wau.push(["map", "3mg7nl9zh5", "rg4", "250", "125",
    "night", "cross-pink"]);</script><script async
    src="//waust.at/m.js"></script>

<script id="_waufwe">var _wau = _wau || [];
        _wau.push(["classic", "468y1ph1wd",
        "fwe"]);</script><script async
        src="//waust.at/c.js"></script>
