<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>
        歡迎光臨我的部落格
    </title>
    <style>
        .post_title {
        font-family: 微軟正黑體;
        font-size: 16pt;
        font-weight: bold;
        }
        .post_body {
        font-family: 微軟正黑體;
        font-size: 10pt;
        letter-spacing: 1pt;
        }
        </style>





</head>
<body>
    <h1>歡迎光臨我的部落格</h1>
    <hr>
    {% for post in posts%}
    <div class="post_title">
        <a href='post/{{post.slug}}'>{{post.title}}</a>
    </div>
    <br>
    {% endfor %}
    <h3>現在時刻:{{ now }}</h3>
    </body>
</html>
