<div class='col-sm-4 col-md-4'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h3>    
                MENU
            </h3>
        </div>
        <div class='panel-body'>
          <div class='list-group'>
                <a href='/' class='list-group-item'>HOME</a>
                <a href='/admin' class='list-group-item'>管理頁面</a>
                <a href='#' class='list-group-item'>預備連結</a>
            </div>                
        </div>
    </div>
</div>