<!-- post.html -->
{% extends 'base.html' %}
{% block title %} {{ post.title }} - 文學天地 {% endblock %}
{% block headmessage %}
    <div class='post_title'>
      <h3>{{ post.title }}</h3>
      <a style='font-family:微軟正黑體;' href='/'>回首頁
</a>
    </div>
{% endblock %}
{% block content %}
    <div class='post_body'>
      {{ post.body }}</a> 
    </div>
{% endblock %}